*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.center{
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.clock{
    height: 40px;
    width: 150px;
    border: 2px solid orange;
    border-radius: 40px;
    background-color: orange;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
}